<body class="notransition">
  <!-- Header -->
  <%= render 'admin/common/header' %>
  <!-- Header End -->
  <!-- Left Side Navigation -->    
  <%= render 'admin/common/menu' %>
  <!-- Left Side Navigation End -->
  <!-- Content -->
  
  <!-- Content End-->
</body>