<div id="leftSide">
    <nav class="leftNav scrollable">
        <div class="search">
            <span class="searchIcon icon-magnifier"></span>
            <input type="text" placeholder="Search for houses, apartments...">
            <div class="clearfix"></div>
        </div>
        <ul>
            <li>
              <%= link_to admin_banners_path do %>
                <span class="navIcon icon-compass"></span><span class="navLabel">橫幅管理</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_pages_path do %>
                <span class="navIcon icon-compass"></span><span class="navLabel">文案管理</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_products_path do %>
                <span class="navIcon icon-plus"></span><span class="navLabel">商品管理</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_orders_path do %>
                <span class="navIcon icon-plus"></span><span class="navLabel">訂單管理</span>
              <% end %>
            </li>
            <li class="hasSub">
                <a href="#"><span class="navIcon icon-layers"></span><span class="navLabel">Elements</span><span class="fa fa-angle-left arrowRight"></span></a>
                <ul>
                    <li><a href="buttons.html">Buttons</a></li>
                    <li><a href="icons.html">Icons <span class="badge pull-right bg-yellow">841</span></a></li>
                    <li><a href="grid.html">Grid</a></li>
                    <li><a href="widgets.html">Widgets</a></li>
                    <li><a href="components.html">Components</a></li>
                    <li><a href="lists.html">Lists</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="form.html">Form</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="closeLeftSide"></div>